{% extends "base.html" %}

{% block content %}
   <div class="jumbotron">
    <h1 class="display-4">Welcome to the Hacker's Hideout</h1>
    <hr class="my-4">
    <p class="lead">This is a simple blog application built with Flask &#x1F4BB;</p>
    <p>Here you can find a community of data science enthusiasts sharing their knowledge, experiences, and insights. Whether you are a beginner or an expert in data science, this blog is the perfect platform to learn, engage, and connect with like-minded individuals.&#x1F389;</p>
    <p>Our mission is to provide a space for data scientists, analysts, and enthusiasts to collaborate, share ideas, and stay updated with the latest trends and advancements in the field of data science &#x1F4DA;</p>
    <p>Explore the blog posts, interact with the authors, and join the discussions &#x1F4AC;. We encourage you to contribute your own blog posts and become a part of our growing community &#x1F64C;</p>
    <p>Join us today and embark on a journey of learning, exploration, and growth in the exciting world of data science &#x1F680;</p>
   </div>
{% endblock %}
