<!-- This is the home page of the blog. It is a simple jumbotron with a button to learn more. -->
{% extends "base.html" %}
{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Data Science Meetup Blog!</h1>
        <p class="lead">This is a simple blog application built with Flask.</p>
        <hr class="my-4">
        <p>It is final project of a CS50’s Introduction to Computer Science</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> 
    </div> 
{% endblock %}
